body {
  font-family: 'Roboto', sans-serif;
}

.App {
  margin-top: 40px;
}

.App-title {
  text-align: center;
}

img {
  max-width: 100%;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.label {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
}

input[type="file"] {
  margin-bottom: 20px;
}

button {
  border: 1px solid #353b6e;
  border-radius: 4px;
  color: #f7f7f7;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  background-color: rebeccapurple;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  grid-template-rows: 320px 320px 320px;
  grid-gap: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 40px;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #d5d5d5;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
